/* collection.module.css */
.collectionPage {
  display: flex;  /* Use flexbox to lay out sidebar and main content side by side */
  height: 100vh;  /* Set the height of the entire page to fill the viewport */
  overflow: hidden;  /* Prevents the entire page from scrolling */
}

.sideBar {
  width: 300px;  /* Fixed width for the sidebar */

 
 
}

.mainContent {
  flex-grow: 1;  /* Takes up remaining space */
  overflow-y: auto;  /* Enables vertical scrolling within main content */
  height: 100%;  /* Full height to match collectionPage */
}

/* Ensure the top bar does not scroll away */
.mainContent > .topBar {
  position: sticky;
  top: 0;
  background: white;  /* Ensures the top bar is visible on top of other content */
  z-index: 10;  /* Higher stack order to keep it on top */
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);  /* Optional shadow for aesthetic separation */
}

/* Optional: Set specific styles for the Collection component to control its display within mainContent */
.collectionContainer {
  padding: 20px;
}

.topBar {
  width: 100%; /* Full width */
  padding: 10px 20px;
  background-color: white;
  z-index: 10; /* Ensure it stays on top */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Subtle shadow for floating effect */
  position: sticky; /* Sticky position to keep it on top */
  top: 0; /* Stick to the top */
}

  
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  
  .list {
    display: flex;
    flex-direction: column;
  }
  
  .smallGrid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
  
  .collectionItem {
    /* Style for individual items */
  }

  /* Additional styles might be needed in Filter.module.css and TopBar.module.css */
.filterContainer, .topBar {
  width: 100%;  
}
@media (max-width: 768px) {
  .collectionPage {
    flex-direction: column;
  }
  .sideBar {
    width: 100%;
    height: auto;
    order: -1; /* Make sidebar come first on mobile */
  }
  .mainContent {
    height: auto; /* Adjust height for mobile */
  }
}


  